.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(211, 206, 206, 0.686);

}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    height: 50%;
    margin: 20px auto;
    background-color: #f9f9f9;
}
mat-card-title{
    display: block;
}
mat-card-content{
    display: block;
    padding: 0 20px;
}
.welcome-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    padding-top: 40px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding-top: 40px;   
    width: 100%;
}

mat-form-field {
    width: 100%;
    margin-bottom: 10px;
}

.login-button {
    align-self: flex-end;
    margin-top: 10px;
}