.toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .logout-button {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .logout-button mat-icon {
    margin-right: 8px;
  }
  
  .mat-toolbar-row, .mat-toolbar-single-row {
    padding:0 36px;
  }